<% if(isAuthenticated) { %>
<form action="/add-to-cart" method="POST">
    <button class="btn">Add to Cart</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" value="<%= product._id %>" name="productId">
</form>
<% } %>